:root {
  --yellow: #f5f500;
  --yellow-pale: #ffff99;
  --yellow-shade: #999900;
  --black: #403530;
  --white: #f9f7f7;
  --orbitron: orbitron, 'Courier New', monospace;
}

/* Font by Matt McInerney from Google Fonts*/
@font-face {
  font-family: orbitron;
  src: url(../fonts/Orbitron-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 32px;
  font-family: Verdana, Geneva, sans-serif;
  color: var(--black);
}

body {
  background-color: var(--white);
}

/***************************************/

header {
  padding: 0.6rem 0;
  background-image: linear-gradient(170deg, var(--yellow) 40%, var(--yellow-shade));
  width: 100%;
  position: relative;

  border: 0.3rem solid var(--yellow);
}

header::after {
  background-image: repeating-linear-gradient(0deg, var(--black), var(--black) 11px,  transparent 11px, transparent 37px);
  position: absolute;
  content: '';
  clip-path: polygon(100% 30%, 100% 100%, 0% 100%);

  width: 40%;
  right: 0;
  top: 0;
  bottom: 0;
}

header h1 {
  font-family: orbitron;
  font-size: 3rem;
  line-height: 2.6rem;
  width: 60%;
  margin-bottom: 0.6rem;
}

header span {
  font-size: 0.8rem;
  font-weight: bold;
}

nav {
  background-color: var(--black);
  font-size: 1.2rem;
  width: 100%;
  padding: 0.4rem;
}

nav a {
  color: var(--white);
  margin: 0 1rem;
}

/*********************************************/

.item {
  width: 70%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--yellow-pale);
  box-shadow: 0 6px 8px var(--yellow-shade);
}

.item img {
  width: 100%;
  padding: 1rem;
  background-color: white;
  vertical-align: bottom;
}

.item-descr {
  background-color: white;
  overflow: auto;
  padding: 0.4rem;
}

.item-descr h2 {
  padding-left: 1rem;
}

.price{
  float: right;
  font-size: 2.2rem;
  color: red;
}

/********************************************/
.form h2 {
  font-size: 1.8rem;
  text-align: center;
/*  background-color: var(--yellow-pale);
  background-image: linear-gradient();
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);*/
  width: 55%;
  margin: auto;
  padding: 0 0 0.4rem 0;
  position: relative;
}

.form h2::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(
    to right,
    var(--yellow-pale), var(--yellow-pale) 3%,
    var(--white) 3%, var(--white) 6%,
    var(--yellow-pale) 6%, var(--yellow-pale) 14%,
    var(--white) 14%, var(--white) 19%,

    var(--yellow-pale) 19%, var(--yellow-pale) 81%,

    var(--white) 81%, var(--white) 86%,
    var(--yellow-pale) 86%, var(--yellow-pale) 94%,
    var(--white) 94%, var(--white) 97%,
    var(--yellow-pale) 97%, var(--yellow-pale));
  transform: skew(-15deg);
}

.form form {
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.form input {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.form input[type="submit"] {
  font-family: var(--orbitron);
  font-weight: bold;
  width: 35%;
  margin: 1rem auto 0;
  padding: 0.4rem;
  background-color: var(--yellow);
  border: none;
  color: var(--black);
  box-shadow: 0 1px 4px var(--yellow-shade);
}
