:root {
  --yellow: #fff000;
  --yellow-pale: #ffff99;
  --yellow-shade: #999900;
  --orange: #ff7000;
  --orange-dark: #ff5000;
  --green: #00dd00;
  --black: #403530;
  --white: #f9f7f7;
  --orbitron: orbitron, 'Courier New', monospace;
}

/* Font by Matt McInerney from Google Fonts*/
@font-face {
  font-family: orbitron;
  src: url(../fonts/Orbitron-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 32px;
  font-family: Verdana, Geneva, sans-serif;
  color: var(--black);
  overflow-x: hidden;
}

body {
  background-color: var(--white);
  position: relative;
  overflow-x: hidden;
}

input {
  font-size: 1.4rem;
}

.btn-orange {
  background-color: var(--orange);
  color: white;
  width: max-content;
  padding: 0.4rem 0.4rem 0.6rem;
  font-size: 1.2rem;
}

.btn-orange:active {
  background-color: var(--orange-dark);
}

/***************************************/

header {
  padding: 0.6rem 0;
  background-image: linear-gradient(170deg, var(--yellow) 40%, var(--yellow-shade));
  width: 100%;
  position: relative;

  border: 0.3rem solid var(--yellow);
}

header::after {
  background-image: repeating-linear-gradient(0deg, var(--black), var(--black) 11px,  transparent 11px, transparent 37px);
  position: absolute;
  content: '';
  clip-path: polygon(100% 30%, 100% 100%, 0% 100%);

  width: 40%;
  right: 0;
  top: 0;
  bottom: 0;
}

header h1 {
  font-family: orbitron;
  font-size: 3rem;
  line-height: 2.6rem;
  width: 60%;
  margin-bottom: 0.6rem;
}

header span {
  font-size: 0.8rem;
  font-weight: bold;
}

nav {
  background-color: var(--black);
  font-size: 1.2rem;
  width: 100%;
  padding: 0.4rem;
  color: var(--white);
  overflow: auto;
}

nav a {
  color: var(--white);
  margin: 0 1rem;
}

#userbox {
  margin: 0.6rem 0;
  font-size: 1rem;
  float: right;
  text-decoration: underline;
}

.descr {
  background-color: var(--yellow-pale);
  font-size: 0.4rem;
  margin: 0.4rem;
  padding: 0.6rem 1.8rem 0.6rem 0.6rem;
  text-align: justify;
}

.descr .fa-times {
  float: right;
  margin-right: -0.8rem;
}

/*** STORE ********************************************************/

.item {
  width: 70%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--yellow-pale);
  box-shadow: 0 6px 8px var(--yellow-shade);
}

.item img {
  width: 100%;
  padding: 1rem;
  background-color: white;
  vertical-align: bottom;
}

.item-descr {
  background-color: white;
  overflow: auto;
  padding: 0.4rem;
}

.item-descr h2 {
  padding-left: 1rem;
}

.price{
  float: right;
  font-size: 2.2rem;
  color: red;
}

.add {
  background-color: var(--yellow);
  font-size: 1.2rem;
  float: right;
  clear: both;
  padding: 0.4rem;
  border: 1px solid var(--black);
  cursor: pointer;
}

/*** SIGNING PAGES ************************************************/
.form h2 {
  font-size: 1.8rem;
  text-align: center;
  width: 55%;
  margin: 1.2rem auto;
  padding: 0 0 0.4rem 0;
  position: relative;
}

.form h2::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(
    to right,
    var(--yellow), var(--yellow) 3%,
    var(--white) 3%, var(--white) 6%,
    var(--yellow) 6%, var(--yellow) 14%,
    var(--white) 14%, var(--white) 19%,

    var(--yellow) 19%, var(--yellow) 81%,

    var(--white) 81%, var(--white) 86%,
    var(--yellow) 86%, var(--yellow) 94%,
    var(--white) 94%, var(--white) 97%,
    var(--yellow) 97%, var(--yellow));
  transform: skew(-20deg);
}

.form form {
  width: 65%;
  margin: 1rem auto;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 0.4rem;
}

.form input[type="submit"] {
  font-family: var(--orbitron);
  font-weight: bold;
  width: 35%;
  margin: 1rem auto 0;
  padding: 0.4rem;
  background-color: var(--yellow);
  border: none;
  color: var(--black);
  box-shadow: 0 1px 4px var(--yellow-shade);
}

/*** CART ***********************************************************/
#cart {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  transform: translateX(100vw);
  transition: transform 0.8s;

  display: none;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  padding-top: 6rem;
}

#cart.visible {
  display: flex;
}

#cart.onscreen {
  transform: translateX(0);
}

#cart-toggle {
  position: fixed;
  width: 6rem;
  height: 4rem;
  top: 1rem;
  right: 0;
  z-index: 1;
  transform: translateX(2rem);
  transition: transform 0.8s;

  font-size: 2.2rem;
  background-color: var(--yellow);
  color: var(--black);
  border-right: none;
  border-radius: 0.4rem 0 0 0.4rem;
  padding: 0 0.4rem 0 0.8rem;

  display: none;
  align-items: center;
  justify-content: space-between;
}

#cart-toggle.visible {
  display: flex;
}

#cart-toggle.onscreen {
  transform: translateX(0);
}

#cart-toggle.new::before {
  content: '!';
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;

  color: white;
  background-color: var(--orange-dark);
  position: absolute;
  top: 0;
  left: 0;
}

.cart-item {
  border: 1px solid var(--black);
  display: flex;
  padding: 0.4rem;
  gap: 0.4rem;
}

.cart-item h3 {
  flex-basis: 40%;
}

.cart-item img {
  flex-basis: 10%;
  width: 5rem;
}

.cart-item span {
  flex-basis: 20%;
  text-align: center;
}

.cart-item input {
  flex-basis: 15%;
  width: 3rem;
  height: 2rem;
}

.cart-item button {
  flex-basis: 5%;
  font-size: 1rem;
  height: 1.4rem;
  background-color: transparent;
  border-radius: 50%;
}

.total {
  font-size: 1.2rem;
}

.pay {
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
  border: 5px solid white;
  text-shadow: 0px 2px 4px var(--black);
  box-shadow: 0px 1px 5px var(--orange);
}

.pay:active {
  box-shadow: 0px 1px 10px var(--orange-dark);
}

/*** PAYMENTS ***********************************************************/
.payment-message {
  border: 2rem solid var(--yellow-pale);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
  box-shadow: 0 6px 8px var(--yellow-shade);
  gap: 1.2rem;
}

.payment-message .fa-check-circle {
  color: var(--green);
  font-size: 4.4rem;
}

.payment-message .fa-times-circle {
  color: red;
  font-size: 4rem;
}

.payment-message h3 {
  font-weight: lighter;
}

.payment-message .btn-orange {
  margin: auto;
}
